.dropdown {
  position: relative;

  //   &:hover {
  //     &__links {
  //       //   visibility: visible !important;
  //       opacity: 1;
  //     }
  //   }

  &__trigger {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    // border: 1px solid green;

    &:hover {
      + .dropdown__links {
        visibility: visible;
      }
    }
  }

  &__links {
    position: absolute;
    width: min(200px, 300%);
    visibility: hidden;
    padding: 5px;

    top: 100%;
    left: -20%;

    background-color: var(--bg-color);
    // border: 1px solid red;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba($color: #000000, $alpha: 0.1);
    // transition: 0.2s ease;

    &:hover {
      visibility: visible;
    }

    @media (prefers-color-scheme: dark) {
      box-shadow: 0 0 15px rgba($color: #ffffff, $alpha: 0.3);
    }

    // li {
    //   &:first-child {
    //     a {
    //       border-top-left-radius: 10px;
    //       border-top-right-radius: 10px;
    //     }
    //   }

    //   &:last-child {
    //     a {
    //       border-bottom-left-radius: 10px;
    //       border-bottom-right-radius: 10px;
    //     }
    //   }
    // }

    a {
      display: inline-block;
      width: 100%;
      padding: 10px;
      //   transition: 0.2s ease;

      &:hover {
        color: var(--primary-color);
        background-color: rgba(4, 125, 214, 0.1);
      }
    }
  }

  //   &.active {
  //     &__links {
  //       display: block;
  //     }
  //   }
}
