.get-started {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 50px var(--side-padding);
  background-color: var(--gray-1000);

  h4 {
    color: #fff;
    font-size: var(--md-font);
  }
}

.App.dark {
  .get-started {
    background-color: var(--gray-400);
  }
}
