.App {
  background-color: var(--bg-color);
  // background-color: var(--bg-color);
  color: var(--primary-text-color);

  header {
    padding: 0 var(--side-padding);
    position: sticky;
    top: 0;
    background-color: var(--bg-color);
  }

  footer {
    padding: 50px var(--side-padding);
  }
}

.App.light {
  --gray-100: #f2f2f2;
  --gray-200: #ebebeb;
  --gray-300: #e6e6e6;
  --gray-400: #ebebeb;
  --gray-500: #c9c9c9;
  --gray-600: #a8a8a8;
  --gray-700: #8f8f8f;
  --gray-800: #7d7d7d;
  --gray-900: #666;
  --gray-1000: #171717;

  --bg-color: #ffffff;
  --primary-text-color: #242424;

  footer {
    background-color: var(--gray-200);
  }
}

.App.dark {
  --gray-100: #1a1a1a;
  --gray-200: #1f1f1f;
  --gray-300: #292929;
  --gray-400: #2e2e2e;
  --gray-500: #454545;
  --gray-600: #878787;
  --gray-700: #8f8f8f;
  --gray-800: #7d7d7d;
  --gray-900: #a1a1a1;
  --gray-1000: #221d1d;

  --bg-color: #242424;
  --primary-text-color: #f9f9f9;

  footer {
    background-color: var(--gray-500);
  }
}
