@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

:root {
  // font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  // color-scheme: light dark;
  // color: rgba(255, 255, 255, 0.87);
  // background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --max-width: 992px;
  --side-padding: 24px;

  // hovGrey: rgb(219, 219, 221)
  // toggleBlack: rgb(18, 18, 18)

  // FONT SIZES
  --xs-font: clamp(0.75rem, 0.7021rem + 0.2128vw, 0.875rem);
  --sm-font: clamp(0.875rem, 0.831rem + 0.1878vw, 1rem);
  --base-font: clamp(1rem, 0.934rem + 0.2817vw, 1.1875rem);
  --md-font: clamp(1.25rem, 1.14rem + 0.4695vw, 1.35rem);
  --lg-font: clamp(1.5625rem, 1.3644rem + 0.8451vw, 2.125rem);
  --xl-font: clamp(1.9375rem, 1.6294rem + 1.3146vw, 2.8125rem);
  --xxl-font: clamp(2.4375rem, 1.9754rem + 1.9718vw, 3.75rem);
  --xxxl-font: clamp(3.0625rem, 2.3803rem + 2.9108vw, 5rem);

  --primary-color: rgb(4, 125, 214);
  --primary-color-dark: rgb(21, 101, 192);
  --bg-color: #ffffff;
  --primary-text-color: #242424;

  @media (prefers-color-scheme: dark) {
    --bg-color: #242424;
    --primary-text-color: #f9f9f9;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--primary-text-color);
}

li {
  list-style: none;
}

body {
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--bg-color);
  color: var(--primary-text-color);
}

// @media (prefers-color-scheme: light) {
// }
